{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div style="padding-top:1.5cm; margin-top: -10px;
padding-bottom: 3.5cm; background-image: url('../../static/photos/back2.jpg');background-attachment: fixed;
background-position: center;
background-size: cover;
background-repeat: no-repeat; ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="p-5 col-md-7 card m-5">
                {{wtf.quick_form(form)}}
            </div>
        </div>
    </div>
    {% endblock %}