{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div style="padding-top:1.5cm; margin-top: -10px;
padding-bottom: 3.5cm; background-image: url('../../static/photos/bac2.jpg');background-attachment: fixed;
background-position: center;
background-size: cover;
background-repeat: no-repeat; ">
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-md-6 card p-5" style="background-color: #8994ac;">
                <h3 class=" text-center"><strong>SignUp</strong></h3>
                {{ wtf.quick_form(registration_form) }}
            </div>
        </div>
    </div>
    {% endblock %}