{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block content %}
<div style="padding-top:5.5cm; margin-top: -10px;
padding-bottom: 3.5cm; background-image: url('../static/photos/bac.jpg');background-attachment: fixed;
background-position: center;
background-size: cover;
background-repeat: no-repeat; ">
    <div class="container" style="padding-bottom: 5cm;">  
        <div class="row justify-content-center" >
            <div class="col-md-8 card p-5" style="background-color: #4f7fa7;">
                <h2 class="text-center"><strong>Create a Blog</strong></h2>
                {{wtf.quick_form(form)}}
            </div>
        </div>
    </div>
   
{% endblock%}